* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);

    h2 {
        text-align: center;
        text-decoration: underline;
        margin-bottom: 3.5rem;
    }
    
}

.slider-input {
    appearance: none;
    width: 250px;
    height: 12px;
    background: #e7e7e7;
    outline: none;
    border-radius: 25px;
    
    &::-webkit-slider-thumb {
        appearance: none;
        width: 20px;
        height: 20px;
        background: #ff0037;
        cursor: pointer;
        border-radius: 50%;
    }
}